@{
    this.Layout = "~/_SiteLayout.cshtml";
    this.Page.Title = "RazorSite";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2>is created by Razor and ASP.NET.</h2>
        </hgroup>
        <p>
            My Razor test site
        </p>
    </div>
</section>
}

<h3>My services:</h3>

<ol class="round">
    <li class="one">
        <h5>Mobile Development</h5>
        I can do on Android, Windows Mobile (deprecated) and iOS
    </li>

    <li class="two">
        <h5>Web Development</h5>
        Spring Framework, JSP and ASP
    </li>

    <li class="three">
        <h5>App & Service Development</h5>
        Developed using Java, C#, Spring
    </li>
</ol>