@{
    ViewData["Title"] = "Login";
}

<h3>@ViewData["Message"]</h3>

<style>
    .login_table {
        
    }

    .login_table td {
        padding: 5px;
    }

    .login_table input {
        padding: 3px;
    }
</style>


<section id="login_form">
    
    <form method="post" action="#">
        <table class="login_table">
            <tr>
                <td><label>User ID:</label></td>
                <td><input type="text" placeholder="User ID" /></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" placeholder="Password" /></td>
            </tr>
        </table>
        <input type="submit" value="Login" />
    </form>

</section>